/* Color Theme Swatches in Hex */
.Teals-1-hex { color: #0FC2C0; }
.Teals-2-hex { color: #0CABA8; }
.Teals-3-hex { color: #008F8C; }
.Teals-4-hex { color: #015958; }
.Teals-5-hex { color: #023535; }

/* Color Theme Swatches in RGBA */
.Teals-1-rgba { color: rgba(15, 194, 192, 1); }
.Teals-2-rgba { color: rgba(12, 171, 168, 1); }
.Teals-3-rgba { color: rgba(0, 143, 140, 1); }
.Teals-4-rgba { color: rgba(1, 89, 88, 1); }
.Teals-5-rgba { color: rgba(2, 53, 53, 1); }


/* MEDIA QUERY (MEDIUM DEVICES) */

@media screen and (max-width: 1024px) {

}

/* MEDIA QUERY (SAMLL DEVICES) */

@media screen and (max-width: 600px) {

}