nav{
    width: max-content;
    background: rgba(0, 0, 0, 0.3);
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    display: flex;
    gap: 0.8rem;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    backdrop-filter: blur(1rem);
    border-radius: 3rem;
}

nav a{
    background-color: transparent;
    padding: 0.7rem;
    border-radius: 50%;
    display: flex;
    font-size: 1.1rem;
    color: var(--color-light);
}

nav a:hover{
    background: rgba(0, 0, 0, 0.2);
}

nav a.active {
    background: var(--color-primary);
    color: var(--color-bg);
}